.scf
*.egg-info
*.pyc
.idea/
_build/
build/
doc/auto_api/
doc_src/auto_api/
doc_src/auto_examples/
doc_src/generated/
dist/
*.pyd
.*.swp
*.pyo
pyspecdata/propagator.so
pyspecdata/test_module.so
lapack-3.4.0/INSTALL
lapack-3.4.0/BLAS/SRC/*.o
lapack-3.4.0/SRC/*.o
lapack-3.4.0/SRC/arch_collection
lapack-3.4.0/SRC/VARIANTS/cholesky/RL/*.o
tags
lapack-3.4.0/SRC/lapack.mri
lapack-3.4.0/SRC/red_objs.a
lapack-3.4.0/SRC/rem_objs.a
lapack-3.4.0/SRC/xobjs.a
nnls/_nnlsmodule.c
demos/.ipynb_checkpoints/
demos/ILT_demo_231121.ipynb
demos/NNLS_Tikhonov_190104.ipynb
demos/aab_simulation_2DILT.ipynb
demos/yerdon_170420.png
doc_src/gen_modules/
examples/data_files.csv
examples/indiv_funcs/data_files.csv
pyspecdata/_nnls.cpython-39-x86_64-linux-gnu.so
wheelhouse/
