.scf
*.egg-info
*.pyc
.idea/
_build/
build/
doc/auto_api/
doc_src/auto_api/
doc_src/auto_examples/
doc_src/generated/
dist/
*.pyd
.*.swp
*.pyo
pyspecdata/propagator.so
pyspecdata/test_module.so
lapack-3.4.0/INSTALL
lapack-3.4.0/BLAS/SRC/*.o
lapack-3.4.0/SRC/*.o
lapack-3.4.0/SRC/arch_collection
lapack-3.4.0/SRC/VARIANTS/cholesky/RL/*.o
tags
lapack-3.4.0/SRC/lapack.mri
lapack-3.4.0/SRC/red_objs.a
lapack-3.4.0/SRC/rem_objs.a
lapack-3.4.0/SRC/xobjs.a
nnls/_nnlsmodule.c
demos/.ipynb_checkpoints/
README.htm
